<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Analysis</title>
    <link rel="stylesheet" href="/static/styles.css">
    <!--js-->
    <script src="/static/script.js"></script>
</head>

<body class = "home-page">

    <div class="background">

        <!-- Main content -->
        <div class="main-content">
            
            <h1 class="hover-text">ANALYZE</h1>

        </div>

        <!-- ticker input bar  -->
        <form class="ticker-bar" method="POST" action="/analyze">
            <input type="text" name="ticker" class="ticker-input" placeholder="Enter stock ticker (e.g., AAPL)" required>
            <button type="submit" class="ticker-submit">Go</button>
        </form>


        <!-- footer bar-->
        <div class="bottom-bar">
            <p>Powered by Bat | <a href="#">Press me to get a cookie</a></p>
        </div>
    </div>
</body>

</html>
